{% extends "base.html" %}
{% block title %}
{{ page_title }} | MineGov
{% endblock %}


{% block page_title %}
{{ page_title }}
{% endblock %}


{% block content %}

<div class="dashboard-header">

    <h1>Add New Mine</h1>

    <p>
        Register a new mining site in the MineGov system.
    </p>

</div>


<div class="card">

    <form method="POST">

        {% csrf_token %}


        {% if form.non_field_errors %}

            <div class="alert-item">

                {{ form.non_field_errors }}

            </div>

        {% endif %}


        {% for field in form %}

            <div>

                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>


                {{ field }}


                {% if field.help_text %}

                    <small class="help-text">
                        {{ field.help_text }}
                    </small>

                {% endif %}


                {% if field.errors %}

                    <div class="errorlist">
                        {{ field.errors }}
                    </div>

                {% endif %}

            </div>

        {% endfor %}


        <div style="margin-top: 25px; display: flex; gap: 10px;">

            <button type="submit" class="btn btn-primary">
                Save Mine
            </button>


            <a href="{% url 'mine_list' %}" class="btn">
                Cancel
            </a>

        </div>

    </form>

</div>

{% endblock %}